@font-face {
    font-family: 'OpenSans';
    font-weight: 400;
    src: url(../fonts/OpenSans.ttf);
}

@font-face {
    font-family: 'Square721';
    font-weight: 600;
    src: url(../fonts/square721bdexbtcyr_bold.otf);
}